html {
  font-size: 100%;
}

body {
  background-color: black;
}

#titleText {
  text-align: center;
  font-size: 70px;
  margin: 1rem;
}

#statusText {
  font-size: 50px;
  margin: 30px;
}

#gameContainer {
  color: white;
  text-align: center;
}

#board {
  width: 320px;
  height: 320px;
  gap: 2px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: black;
  margin: auto;
}

.cell {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-weight: bold;
  color: white;
  background-color: black;
  border: 2px solid white;
  cursor: pointer;
  min-width: 105px;
  max-width: 105px;
  min-height: 105px;
  max-height: 105px;
}