html {
  font-size: 100%;
}

body {
  background-color: black;
}

#titleText {
  text-align: center;
  font-size: 4rem;
  margin: 1rem;
}

#statusText {
  font-size: 4rem;
  margin: 1rem;
}

#gameContainer {
  color: white;
  text-align: center;
}

#board {
  width: 18.75rem;
  height: 18.75rem;
  gap: 0.125rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  background-color: black;
  margin: auto;
}

.cell {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  background-color: black;
  border: 0.125rem solid white;
  cursor: pointer;
  
}